body, html {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  scroll-behavior: smooth;
  height: 100%;
  width: 100%;
  overflow-x: visible;
}

::-webkit-scrollbar {
  display: none;
}

.home-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.btn-menubar-mobile{
  position: fixed; 
}

.fa-solid.fa-bars{
  font-size: 20px;
  padding: 10px 0px 0px 10px;
}

.header {
  width: 100%;
  background-color: #333;
  color: white;
  text-align: center;
  display: flex;
  justify-content: space-between;
  top: 0;
  transition: all 0.3s ease-in-out;
  position: relative;
  z-index: 100;
}

.header nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.header nav ul li {
  display: inline;
  margin: 0 15px;
  transition: all 0.3s ease-in-out;
}

.header nav ul li a {
  color: white;
  text-decoration: none;
  font-size: 18px;
}

.header:hover{
  cursor: pointer;
}

.title-header {
  margin-left: 2%;
}

.menubar {
  display: flex;
  align-items: center;
}

.section {
  padding: 100px 20px;
  width: 100%;
  height: 100vh;
  text-align: center;
  background-color: #f4f4f4;
  border-bottom: 1px solid #ddd;
}

.section:nth-child(even) {
  background-color: #fff;
}

.section h2 {
  margin: 0 0 20px 0;
  font-size: 32px;
}

.section p {
  font-size: 18px;
}

.footer {
  width: 100%;
  background-color: #333;
  color: white;
  text-align: center;
  padding: 20px;
}

#upto-top{
  position: fixed;
  right: 1%;
  bottom: 1%;
  padding: 15px;
  font-size: 24px;
  color: red;
  background-color: white;
  border-radius: 50%;
  box-shadow: 0 10px 10px black;
  z-index: 100;
}

.header .fa-chevron-up{
  position: absolute;
  bottom: 0;
}
/* ======================= Bắt đầu phần section-intro ======================= */
#section-intro{
  background-image: url(img/intro-bg.jpg);
  background-color: black;
  background-repeat: no-repeat;
  background-size: 100%;
  position: relative;
  /* overflow: hidden; */
}
#section-intro::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.7;
  z-index: 1;
}

#section-intro > *{
  position: relative;
  z-index: 2;
  color: white;
}

.wrap-typing{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.wrap-typing, .typing p{
  font-weight: 600;
  font-size: 35px;
}

.typing{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.typing div{
  margin-left: 1%;
}

.typing div p{
  color: #EA4335;
}

.intro-typing{
  z-index: 2;
  overflow: hidden;
  border-right: 0.15rem solid #EA4335;
  white-space: nowrap;
  animation: typing 2s steps(20, end) infinite, 
             blink 0.75s step-end infinite;
}

@keyframes typing {
  0% {
    width: 0;
  }
  50% {
    width: 100%;
  }
  90%{
    width: 100%;
  }
  100%{
    width: 0;
  }
}

@keyframes blink {
  from, to {
    border-color: transparent;
  }
  50% {
    border-color: #EA4335;
  }
}

.banner-intro{
  width: 95%;
  height: 80%;
  /* height: 100%; */
  margin-top: 5%;
  margin-left: 2.5%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
}

.banner{
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.web-intro{
  background-image: url(img/intro-banner-web.avif);
  background-repeat: no-repeat;
  background-size: 100%;
  transition: all 0.3s ease-in-out;
  z-index: 1;
}

.banner img{
  width: 60%;
  height: 80%;
  filter: drop-shadow(0 10px 10px white);
  transition: all 0.5s ease-in-out;
  transition-delay: 0.2s;
}

.app-intro{
  background-image: url(img/intro-banner-appjpg.jpg);
  background-repeat: repeat;
  background-size: 100%;
  transition: all 0.3s ease-in-out;
  color: black;
}

.app-intro img{
  filter: drop-shadow(0 10px 10px black);
}

.content-banner{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  width: 35%;
  height: fit-content;
  overflow: hidden;
}

.content-banner > *{
  font-weight: 600;
  margin: 5% 0;
  transition: all 0.5s ease-in-out;
}

.title-banner{
  font-size: 45px;
  margin-left: 15%;
  transition-delay: 0.4s;
}

.title-banner ~ span{
  font-size: 30px;
  margin-left: 15%;
  transition-delay: 0.2s;
}

.content-banner button{
  border: 2px solid #C60000;
  background-color: white;
  color: #C60000;
  padding: 3% 5%;
  font-size: 20px;
  margin-left: 15%;
  animation-delay: 0.2s;
}

.content-banner button:hover{
  border: 2px solid white;
  background-color: #C60000;
  color: white;
}

.choose-banner{
  position: absolute;
  top: -10%;
  left: -40%;
}

.choose-banner i{
  padding: 0 1%;
  font-size: 20px;
  transition: all 0.3s ease-in-out;
}

.choose-banner i:hover{
  cursor: pointer;
}
/* ======================= Kết thúc phần section-intro ======================= */


/* ======================= Bắt đầu phần section-about2 ======================= */
#section-about2{
  background-image: url(img/about2-bg.png);
  background-size: 100% 100%;
  z-index: 2;
  transition: all 0.5s ease-in-out;
}

#section-about2 .heading-section{
  margin-top: -5%;
  transition: all 0.5s ease-in-out;
}

.wrap-container-quick-intro-about2{
  display: flex;
  justify-content: space-evenly;
  transform: translateY(-80%);
  transition: all 0.5s ease-in-out;
}

.qucick-intro-about2{
  background-color: white;
  width: 25%;
  padding: 1%;
  box-shadow: 0 5px 10px gray;
  border-radius: 10px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.content-quick-intro-about2{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-left: 5%;
}

.icon-quick-about2{
  margin: 5% 1%;
}

.icon-quick-about2 i{
  font-size: 100px;
  color: #C60000;
}

.content-quick-intro-about2 h3{
  font-size: 28px;
}

.content-quick-intro-about2 span{
  font-size: 24px;
  color: #a4a4a4;
}

.btn-quick-intro-about2{
  display: flex;
  justify-content: start;
  align-items: center;
  margin-top: 15%;
  width: 100%;
}

.btn-quick-intro-about2:hover{
  cursor: pointer;
}

.btn-quick-intro-about2 i{
  border-radius: 50%;
}

.btn-quick-intro-about2 span{
  font-size: 18px;
  font-weight: 500;
}

.fa-solid.fa-chevron-right{
  margin-right: 5%;
  background-color: red;
  color: white;
  padding: 2% 3%;
  font-size: 8px;
}

.wrap-container-content-about2{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  margin-left: 2%;
  transition: all 0.5s ease-in-out;
}

.content-about2{
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.content-about2 div{
  font-size: 21px;
}

.btn-content-about2{
  /* border: 1px solid brown; */
  display: flex;
  width: fit-content;
  margin-top: 3%;
}

.btn-content-about2 button{
  padding: 15% 65%;
  font-size: 18px;
  margin-right: 20%;
  border-radius: 5px;
  font-weight: 600;
  transition: all 0.3s ease-in-out;
}

.about2-web{
  border: 1px solid #C60000;
  background-color: #C60000;
  color: white;
}

.about2-web:hover{
  border: 1px solid black;
  background-color: black;
}

.about2-app{
  border: 2px solid #C60000;
  background-color: #f4f4f4;
  color: #C60000;
}

.about2-app:hover{
  background-color: #C60000;
  color: white;
}

.img-about2{
  display: none;
}
/* ======================= Kết thúc phần section-about2 ======================= */



/* ======================= Bắt đầu phần section-services ======================= */
#section-services{
  height: fit-content;
  overflow-x: hidden;
}

.wrap-container-overview-content{
  display: flex;
  margin-bottom: 5%;
  transition: all 0.5s ease-in-out;
}

.wrap-container-image{
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 2%;
}

.wrap-container-image img {
  width: 100%;
  height: 80%;
}

.wrap-container-content-service-overview{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  width: 55%;
}

.wrap-container-content-service-overview h3 {
  font-size: 26px;
}

.heading-section p {
  font-size: 35px;
  font-weight: 600;
}

.heading-section{
  width: fit-content;
  border-bottom: 10px solid red;
  margin-bottom: 5%;
  margin-top: -5%;
  margin-left: 1%;
  transition: all 0.5s ease-in-out;
}

.list-overview, .sub-list-overview{
  display: flex;
  justify-content: center;
  align-items: center;
}

.fa-solid.fa-caret-right, .fa-solid.fa-check{
  margin-right: 15px;
  color: red;
}

.list-overview p{
  font-weight: 600;
}

.list-overview p, .sub-list-overview p {
  font-size: 22px;
}

.wrap-container-service-package{
  margin: 0 2%;
  background-color: #d4d4d4;
  height: 100%;
  padding-bottom: 5%;
  transition: all 0.5s ease-in-out;
  /* transform: translateX(150%); */
}

.content-package-web-service{
  padding: 1% 0;
}

.content-package-web-service p {
  margin-bottom: 5%;
}

.wrap-packages-web{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
}

.package-web{
  margin: 2% 1%;
  width: 22%;
  height: 100%;
  position: relative;
  background-color: white;
}

.package-web .prices-web, .package-web .types-web {
  font-weight: 600;
}

.package-web .prices-web{
  font-size: 50px;
  margin-top: 10%;
}

.package-web .types-web{
  font-size: 20px;
}

.package-web .type-package-web{
  color: white;
  margin-bottom: 3%;
  padding: 2%;
}

.content-package-web{
  height: 70%;
  overflow: scroll;
  margin-top: -3%;
}

.content-in-package-web{
  border: 1px solid #d1d1d1;
  margin: 3%;
  padding: 1%;
}

.package-web input[type=button]{
  padding: 10px 25px;
  font-size: 16px;
  border-radius: 5%;
  border: none;
  color: white;
  position: absolute;
  bottom: -4%;
  left: 30%;
  transition: all 0.3s ease-in-out;
}

.basic .prices-web, .basic .types-web{
  color: #EEAD0E;
}

.basic input[type=button], .basic .type-package-web{
  background-color: #EEAD0E;
}

.seo .prices-web, .seo .types-web{
  color: #228B22;
}

.seo input[type=button], .seo .type-package-web{
  background-color: #228B22;
}

.sup-sale .prices-web, .sup-sale .types-web{
  color: #C60000;
}

.sup-sale input[type=button], .sup-sale .type-package-web{
  background-color: #C60000;
}

.pro .prices-web, .pro .types-web{
  color: #0000FF;
}

.pro input[type=button], .pro .type-package-web{
  background-color: #0000FF;
}

.package-web:hover{
  cursor: pointer;
}

.package-web.basic,
.package-web.seo,
.package-web.sup-sale,
.package-web.pro{
  transition: all 0.3s ease-in-out;
}

.package-web.sup-sale{
  position: relative;
}

.recommend-web{
  width: 0;
  height: 0;
  border-top: 100px solid red;
  border-right: 100px solid transparent;
  position: absolute;
}

.recommend-web ~ span {
  transform: rotateZ(-45deg);
  color: white;
  position: absolute;
  font-weight: bold;
  font-size: 20px;
  width: 100px;
  margin-left: -54%;
  margin-top: 8%;
}

.package-web.basic:hover{
  box-shadow: 10px 4px 20px #EEAD0E;
  transform: scale(105%);
}

.package-web.seo:hover{
  box-shadow: 10px 4px 20px #228B22;
  transform: scale(105%);
}

.package-web.sup-sale:hover{
  box-shadow: 10px 4px 20px #C60000;
  transform: scale(105%);
}

.package-web.pro:hover{
  box-shadow: 10px 4px 20px #0000FF;
  transform: scale(105%);
}

.package-web.basic input[type=button]:hover{
  background-color: #8B6914;
  border-radius: 20px;
}

.package-web.seo input[type=button]:hover{
  background-color: #006400;
  border-radius: 20px;
}

.package-web.sup-sale input[type=button]:hover{
  background-color: #8B0000;
  border-radius: 20px;
}

.package-web.pro input[type=button]:hover{
  background-color: #0000CD;
  border-radius: 20px;
}

.wrap-container-service-package ~ img {
  width: 95%;
}

.wrap-container-service-package.app{
  background-color: #0099FF;
  margin-top: 5%;
  color: white;
  overflow: hidden;
  transition-delay: 0.5s;
}

.content-package-app-services{
  margin-top: 1%;
}

.wrap-container-packages-app-service span {
  font-weight: 600;
  padding: 3% 0;
}

.wrap-container-packages-app-service{
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-packages-app-services{
  width: 33%;
  color: black;
  display: flex;
  flex-direction: column;
  border-left: 1px solid grey;
  position: relative;
  transition: all 0.5s ease-in-out;
  
}

.container-packages-app-services{
  cursor: pointer;
}

.wrap-container-packages-app-service:hover > :not(:hover){
  opacity: 0.1;
}

.contact-services-app h1, .contact-services-app h3{
  font-size: 40px;
}

.contact-services-app h1 {
  margin-bottom: -10%;
}

.content-package-app{
  background-color: white;
  padding-top: 1%;
}

.content-package-app:hover + button{
  bottom: -3%;
}

.content-line {
  color: black;
  margin: 0 5%;
  border-bottom: 1px solid #d8d8d8;
}

.content-line {
  display: flex;
  align-items: center;
}

.content-line i {
  padding-right: 8%;
  width: 2%;
}

.content-package-app ~ button {
  position: absolute;
  padding: 2%;
  bottom: -15%;
  left: 37%;
  border-radius: 5px;
  transition: all 0.3s ease-in-out;
}

.content-package-app ~ button:hover{
  bottom: -3%;
}

.personal span {
  background-color: #009ACD;
}

.personal .contact-services-app{
  background-color: #00BFFF;
}

.personal .content-package-app .content-line i{
  color: #1C86EE;
}

.personal button {
  border: 2px solid #1C86EE;
  background-color: white;
  color: #1C86EE;
}

.personal button:hover{
  border: 2px solid white;
  background-color: #1C86EE;
  color: white;
}

.professional span {
  background-color: #008B00;
}

.professional .contact-services-app{
  background-color: #00CD00;
}

.professional .content-package-app .content-line i{
  color: darkgreen;
}

.professional button {
  border: 2px solid darkgreen;
  background-color: white;
  color: darkgreen;
}

.professional button:hover{
  border: 2px solid white;
  background-color: darkgreen;
  color: white;
}

.business span {
  background-color: #CD8500;
}

.business .contact-services-app{
  background-color: #FFA500;
}

.business .content-package-app .content-line i{
  color: darkorange;
}

.business button {
  border: 2px solid darkorange;
  background-color: white;
  color: darkorange;
}

.business button:hover{
  border: 2px solid white;
  background-color: darkorange;
  color: white;
}
/* ======================= Kết thúc phần section-services ======================= */


/* ======================= Bắt đầu phần section-contact ======================= */
.wrap-container-contact{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
}

.wrap-container-form-contact{
  background-color: black;
  color: black;
  width: 80%;
  height: 100%;
  padding: 1%;
  display: flex;
  transition: all 0.5s ease-in-out;
  /* overflow: hidden; */
}

.wrap-form-contact{
  width: 78%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
}

.wrap-form-contact form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 70%;
}

.input-content-contact{
  position: relative;
  margin: 1% 0;
  width: 100%;
}

.input-content-contact input{
  height: 40px;
  width: 100%;
  font-size: 16px;
  outline: none;
}

.input-content-contact textarea{
  width: 100%;
  font-size: 16px;
  outline: none;
  padding-top: 2%;
}

.input-content-contact label {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  background-color: white;
  padding: 0px 5px;
  pointer-events: none;
  transition: all 0.3s ease-in-out;
}

.input-content-contact input:focus + label,
.input-content-contact input:valid + label,
.input-content-contact textarea:focus + label,
.input-content-contact textarea:valid + label {
  top: 0px;
  font-size: 14px;
  font-weight: 600;
  color: green;
}

.input-content-contact input:focus,
.input-content-contact textarea:focus{
  border: 2px solid green;
  border-radius: 10px;
}

.img-contact-form{
  width: 20%;
  height: 200%;
  border: 5px solid white;
  margin-left: 2%;
}

.img-contact-form img{
  width: 100%;
  height: 260px;
  opacity: 0.5;
}

.btn-contact{
  padding: 2% 6%;
  font-size: 16px;
  margin-bottom: 1%;
  font-weight: 600;
  border-radius: 5px;
  border: 2px solid green;
  color: green;
  background-color: white;
  transition: all 0.3s ease-in-out;
}

.btn-contact:hover{
  border: 2px solid white;
  color: white;
  background-color: green;
}

.wrap-orther-contact{
  width: 90%;
  display: flex;
  flex-direction: column;
  margin-top: 2%;
  height: fit-content;
}

.text-orther-contact {
  margin-top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  transition: all 0.5s ease-in-out;
  transition-delay: 0.3s;
}

.text-orther-contact::before,
.text-orther-contact::after{
  content: "";
  width: 40%;
  height: 3px;
  background-color: #d4d4d4;
  transition: all 0.5s ease-in-out;
}

.text-orther-contact::before{
  margin-right: 1%;
}

.text-orther-contact::after{
  margin-left: 1%;
}

.orther-contact-group{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 5%;
  overflow: hidden;
}

.orther-contact{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  /* transform: translateY(-100%); */
  transition: all 0.5s ease-in-out;
}

.fb{ transition-delay: 1s;}
.linkedin{ transition-delay: 1.2s;}
.telegram{ transition-delay: 1.4s;}

.fb:hover{
  color: #3b5998;
}

.fb i:hover{
 box-shadow: 0 10px 10px #3b5998;
 border-radius: 50%;
}

.linkedin:hover{
  color: #0077B5;
}

.linkedin i:hover{
  box-shadow: 0 10px 10px #0077B5;
  border-radius: 6px;
 }

.telegram:hover{
  color: #00405d;
}

.telegram i:hover{
  box-shadow: 0 10px 10px #00405d;
  border-radius: 50%;
 }

.orther-contact i{
  font-size: 100px;
  z-index: 1;
  background-color: #f4f4f4;
  position: relative;
  cursor: pointer;
}

.orther-contact span{
  margin-top: 5%;
  font-weight: 600;
  transition: all 0.3s ease-in-out;
  transform: translateY(-150%);
}

.orther-contact i:hover + span{
  transform: translateY(0);
}
/* ======================= Kết thúc phần section-contact ======================= */

/* Reponsive Mobile */
@media (max-width: 739px){
  body, html {
    font-family: Arial, sans-serif;
    scroll-behavior: smooth;
    height: 100%;
    overflow-x: hidden;
  }

  .title-header{
    font-size: 6px;
  }

  .header nav ul li a{
    font-size: 12px;
  }

  .heading-section{
    margin-top: -20%;
    opacity: 1 !important;
  }

  .heading-section p{
    font-size: 24px;
  }
  /* ======================= Bắt đầu phần section-intro ======================= */
  #section-intro{
    margin-top: -20%;
    height: 600px;
    max-height: 500px;
  }

  .typing span, .typing div p{
    font-size: 20px;
  }

  .br-intro span {
    font-size: 18px;
  }

  .banner-intro{
    height: 50%;
  }

  .web-intro, .app-intro{
    background-repeat: repeat;
    width: 100%;
    height: 80%;
  }

  .content-banner{
    height: 100%;
    width: 100%;
    max-width: 739px;
  }

  .title-banner{
    font-size: 24px;
  }

  .title-banner ~ span{
    font-size: 18px;
  }

  .banner img{
    width: 40%;
  }
  /* ======================= Kết thúc phần section-intro ======================= */


  /* ======================= Bắt đầu phần section-about2 ======================= */
  #section-about2{
    background-image: none;
  }

  #section-about2 .heading-section{
    margin-top: 10%;
  }

  .wrap-container-quick-intro-about2{
    opacity: 1 !important;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform: translateY(0);
    margin-top: -20%;
  }

  .qucick-intro-about2{
    width: 90%;
    margin: 5%;
  }

  .content-quick-intro-about2 h3,
  .content-quick-intro-about2 span{
    font-size: 20px;
  }

  .wrap-container-content-about2{
    opacity: 1 !important;
  }

  .container-content-aboout2{
    z-index: 2;
  }

  .content-about2{
    align-items: flex-start;
    justify-content: center;
    margin-right: 2%;
    margin-top: 2%;
  }

  .content-about2 div{
    font-size: 16px;
    text-align: left;
  }

  .btn-content-about2{
    margin-top: 10%;
    z-index: 2;
  }

  .btn-content-about2 button{
    padding: 7% 32%;
  }

  .img-about2{
    display: block;
    width: 100%;
    border: 1px solid black;
    transform: translateX(-41%);
  }

  .img-about2 img{
    width: 100%;
    transform: scale(1.8);
  }
  /* ======================= Kết thúc phần section-about2 ======================= */


  /* ======================= Bắt đầu phần section-services ======================= */
  #section-services{
    z-index: 3;
  }
  .wrap-container-overview-content{
    margin-top: 15%;
    flex-direction: column;
    transform: translateX(0) !important;
  }

  .wrap-container-image, .wrap-container-content-service-overview{
    width: 100%;
  }

  .wrap-container-image img {
    width: 80%;
    height: 80%;
  }

  .wrap-container-content-service-overview h3{
    font-size: 20px;
  }

  .list-overview p, .sub-list-overview p{
    font-size: 15px;
  }

  .sub-list-overview{
    margin-left: 5%;
  }

  .wrap-container-service-package,
  .wrap-container-service-package + img{
    opacity: 1 !important;
  }

  .wrap-packages-web{
    height: fit-content;
    flex-direction: column;
  }

  .package-web{
    width: 90%;
    margin-top: 15%;
    margin-bottom: 5%;
  }

  .sup-sale .prices-web{
    margin-top: 30%;
  }

  .content-package-web{
    height: 300px;
  }

  .wrap-container-packages-app-service{
    flex-direction: column;
  }

  .container-packages-app-services{
    width: 90%;
    margin: 3% 0;
    height: 100%;
    transition: all 0.3s ease-in-out;
  }

  .container-packages-app-services button{
    bottom: 2%;
    left: 40%;
    transform: translateX(500%);
  }

  .content-package-app:hover + button{
    bottom: 2%;
    left: 40%;
    transform: translateX(0);
  }

  .content-package-app + button:hover{
    bottom: 2%;
    left: 40%;
    transform: translateX(0);
  }
  /* ======================= Kết thúc phần section-services ======================= */


  /* ======================= Bắt đầu phần section-contact ======================= */
  #section-contact{
    height: fit-content;
  }

  .wrap-container-form-contact{
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    transform: translateX(0) !important;
  }

  .img-contact-form{
    width: 95%;
    height: 50%;
    margin-left: 0;
    margin-bottom: 5%;
  }

  .img-contact-form img{
    height: 50%;
  }

  .wrap-form-contact{
    width: 99%;
  }

  .btn-contact{
    width: 103%;
    margin-bottom: 5%;
  }

  .text-orther-contact{
    margin-top: 10%;
    opacity: 1 !important;
  }

  .orther-contact{
    transform: translateY(0) !important;
    overflow: auto;
    height: 100px;
  }

  .orther-contact i{
    font-size: 200%;
  }

  .orther-contact span{
    transform: translateY(30%);
  }
  /* ======================= Kết thúc phần section-contact ======================= */
}