.wrapContainerNavigation{
    border: 1px solid black;
    width: 90%;
}

.tdBlogOutstanding{
    background-color: #e46161;
    color: white;
}

.tdOwnSelf{
    background-color: #e0ffcd;
}

.createBlog{
    height: fit-content;
    width: fit-content;
    margin-right: -90%;
}
.createBlog button {
    padding: 10px 15px;
    border-color: #42b883;
    color: #42b883;
}
.createBlog button:hover{
    border-color: white;
    background-color: #42b883;
    color: white;
}